/centernet/
/networks/
test.mp4
centernet_out_3.avi
9convert.com - People Walking Past the Camera  Free Stock Footage For Commercial Projects.mp4
production ID_4750076.mp4
Centernet-8302021-622
CenterNet-8242021-141
Dataset
Video
ignore
faces4coco-2017-coco-annotations
checkpoints
Centernet-992021-1129-faces
CenterNet-992021-1103-faces
test
dist
Centernet-9252021-1734-faces